<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8 col-lg-8 d-flex justify-content-center text-center">
      <div class="card vw-100">
        <div class="card-body" id="parchment">
          <% if @rules_list.picture.attached? %>
            <%= cl_image_tag @rules_list.picture.key, class: "rules_img" %>
          <% end %>
          <h5
            class="card-title"><%= @rules_list.name %>
            <%= link_to "Edit Game",  edit_rules_list_path(@rules_list)  %>
            <%= link_to "Delete Game", rules_list_path(rules_list_id: @rules_list.id), method: 'delete', data: { confirm: "Are you sure? This will delete your game forever"}  %>
          </h5>
          <p class="card-text"><%= @rules_list.description %></p>
          <hr>
          <ul class="rule-list-text">
            <% @rules_list.rules.each do |rule|  %>
              <li><h5><%= rule.name %></h5></li>
              <li>Category: <%= rule.category %></li>
              <li>Rule: <%= rule.content %></li>
              <%= link_to "Edit Rule", edit_rules_list_rule_path(@rules_list, rule)  %>
              <%= link_to "Delete Rule", [@rules_list, rule], method: 'delete', data: { confirm: "Are you sure?" }  %>
              <hr>
            <% end %>

          </ul>
          <%= link_to "Add rule", new_rules_list_rule_path(@rules_list)  %>
        </div>
      </div>
    </div>
  </div>
</div>

